<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Pets</title>
</head>
<body>
    <h1>Registered Pets</h1>
    <ul>
        {% for pet in Pets %}
        <li>
            <strong>Pet Name:</strong> {{ Pets.PetName }}<br>
            <strong>Pet Type:</strong> {{ Pets.PetType }}<br>
            <strong>Pet Size:</strong> {{ Pets.PetSize }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
